MONGO_URI=mongodb+srv://New_Workout:Bandal3605@fitness365.2725epd.mongodb.net/?appName=fitness365
JWT_SECRET=a8f2b3c9d1e5f7g8h9i0j1k2l3m4n5o6p7q8r9s0t1u2v3w4x5y6z7
OPENAI_API_KEY=your_openai_api_key_here
ckoZF1k_lm0tJitkGELfpvtWNbnuri0SjT3BlbkFJeWVZQzHrZnPROd3Ul6no7e_OAvbYxp76VcZTFi-vZvwsm57jX6nngVQn8y6kQ5PUv-zoB7sRIA
OPENAI_FOOD_VISION_MODEL=gpt-5.6-luna
